<?xml version="1.0" ?>

<launch>

  <arg name="robot_ip" />
  <arg name="load_gripper" />

  <!-- Launch FCI ros wrapper -->

  <include file="$(find franka_control)/launch/franka_control.launch" >
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <arg name="load_gripper" value="$(arg load_gripper)" />
  </include>

  <!-- Launch moveIt scripts -->

  <include file="$(find cobot_controllers)/launch/moveit_control.launch" >
    <arg name="load_gripper" value="$(arg load_gripper)" />
  </include>

  <!-- Launch custom metrics scripts -->

  <node name="metrics_assembly" type="complete_assembly.py" pkg="metrics_control" output="screen" />


</launch>